<div class="about-header">
    <h3>A Propos de notre Organisation</h3>
</div>
<div class="about-content">
    <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h4>0.	MOTIVATION</h4>
          </mat-expansion-panel-header>
            <p>
                La RDC, comme la plus part des pays en développement, fait face à plusieurs problèmes 
                notamment: la  pauvreté  qui sévit la majorité de la population (habitations précaires, 
                absence d’eau potable et d’éclairage, accès difficile aux soins de santé de qualité, 
                accès difficile à l’éducation de qualité, quantité et qualité de l’alimentation insuffisante 
                et irrégulière, habillement inadéquat, exclusion et marginalisation, violences et harcèlements 
                sexuels, privation quasi-généralisée); le taux de chômage très élevé (y compris chez les diplômés) 
                ; le manque de créativité, d’initiative et d’entrepreneuriat des jeunes post bac; le manque d’encadrement 
                et de financement des activités économiques des jeunes et des femmes; l’insuffisance d‘utilisation 
                des technologies modernes dans les activités économiques; le déficit de la maitrise intermédiaire
                et de la main d’œuvre qualifiée; les partenaires sociaux, économiques et financiers insuffisamment 
                associés dans les activités économiques; le niveau faible et le manque d’innovation des structures
                de formation; l’inadéquation entre le système éducatif et les besoins technologiques des entreprises;
                le corps scientifique et académique insuffisamment motivé à la recherche scientifique et à l’innovation
                technologique; l’absence de collaboration entre les scientifiques et les professionnels; le faible 
                transfert des technologies dû au faible retour des jeunes qui partent se perfectionner dans les pays 
                du Nord; l’improductivité des activités agricoles; le déséquilibre socio-économique permanent dans 
                les territoires ruraux; l’exode rural des plusieurs personnes et surtout des jeunes  avec toutes ses 
                conséquences néfastes dans les milieux ruraux et dans les centres urbains.
            </p>
            <p>
                Comme si tout cela ne suffisait pas, les antivaleurs comme les inégalités sociales, les inégalités 
                des sexes, l’accès inégal aux ressources et aux services productifs, la corruption, le détournement, 
                les pollutions de l’environnement, les conflits interethniques, les tribalismes, les guerres, les 
                terrorismes, les épidémies et les pandémies ont trouvé aussi place dans le pays avec comme conséquence
                la destruction du capital productif (capital humain, matériel et financier), la militarisation de la 
                société, le recrutement des enfants et des jeunes dans les forces et groupes armés, les violences graves 
                des droits humains occasionnant des drames humanitaires, des déplacés et des refugiés.
            </p>
            <p>
                Eu égard à ce qui précède, les membres fondateurs, réunis, ont convenu de créer une organisation apolitique
                pour mettre en œuvre un certain nombre de projets afin de faire face aux problèmes ci-haut évoqués pour 
                l’émergence et le développement de la RDC et de tant d’autres pays qui, actuellement, éprouvent les mêmes
                problèmes que la RDC
            </p>    
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h4>I.	OBJECTIFS ET VISION DE L’ORGANISATION</h4>
          </mat-expansion-panel-header>
            <p>
                Loin d’avoir une connotation politique, encore moins des intérêts égoïstes, plutôt l’idée est l’épanouissement
                des plusieurs. Avec des objectifs précis, l’OED  prône l’émergence et le développement. L’OED  est une 
                organisation des jeunes et des vieux, des hommes et des femmes, des employeurs et des employés, des 
                professionnels et des chômeurs, des professeurs et des étudiants, des dirigeants et des dirigés pour répondre
                à un certain nombre des objectifs.
                <br>
                L’OED vise 5 objectifs suivants :
                    <li>Développer, conforter, partager et promouvoir le savoir, la recherche, l’innovation et la technologie;</li>
                    <li>Promouvoir la création et le développement des activités économiques;</li>
                    <li>Promouvoir la santé et le bien-être;</li>
                    <li>Lutter contre les antivaleurs : la corruption, l’exclusion, le tribalisme, les guerres, les inégalités sociales et de sexe, etc.</li>
                    <li>Lutter contre les réchauffements climatiques et promouvoir la protection de l’environnement.</li>
            </p>
            <p>
                L’OED  se veut être une grande plateforme avec un nombre important des membres à travers le monde, des hommes 
                et des femmes de sciences, des chercheurs, des idéologistes, des doctrinaires, des innovateurs et des 
                technologues capables de défendre le savoir, la recherche , l’innovation et la technologie dans toutes les 
                circonstances, dans des manifestations publiques, des panels nationaux et internationaux, des conférences, 
                des émissions télévisées, des émissions à la radio, etc. Parce qu’il s’agit du savoir, l’OED  n’épargne pas 
                le secteur de la formation primaire, secondaire technique, supérieure et universitaire. C’est aussi l’occasion 
                pour l’OED  d’intervenir dans le secteur pour promouvoir le savoir, la recherche, l’innovation et la technologie 
                à partir de la base.
            </p>
            <p>
                Le seul secteur d’emploi ne peut absorber les demandes d‘insertion du grand nombre des personnes qui sont aujourd’hui
                en situation de chômage, l’OED  pense que les hommes, les femmes, jeunes et les vieux doivent diversifier leurs
                sources de revenus et d’emploi, cela pourra jouer un rôle important dans la création de richesses et le bien-être 
                général. Seul le secteur d’entrepreneuriat semble pouvoir offrir actuellement des possibilités d’embauche ou 
                d’auto-emploi. C’est pourquoi, L’OED  accompagne les entrepreneurs et les investisseurs dans la création et le 
                développement des activités économiques.
            </p>
            <p>
                « L’esprit saint dans un corps sain », dit-on, les maladies tropicales ont réduit sensiblement l’espérance de vie
                des pays africains en développement, à cela s’ajoutent les pandémies et les épidémies de toute sorte qui 
                n’épargnent pas nos milieux et laissent des drames humanitaires. L’OED  s’engage et s’ajoute aux autres pour 
                la bonne santé et le bien-être de la population.
            </p>
            <p>
                Le succès des politiques mises en place par les dirigeants réside dans le respect des valeurs, c’est pourquoi
                l’OED  s’engage fermement dans la lutte contre les antivaleurs comme la corruption, la fraude, l’exclusion, 
                le tribalisme, les guerres, les inégalités sociales et de sexe. Le changement de mentalité s’avère être un 
                facteur déterminant pour l’émergence et le développement de notre pays.
            </p>
            <p>
                Tout est épuisable, ou plutôt beaucoup changent de qualité, avec des émissions à effets de serre, l’air
                est pollué et devient préjudiciable à la santé, nos forêts, nos rivières et nos terres sont précieuses, 
                nous devons les protéger, bien les consommer pour le développement des générations présentes ainsi que 
                pour les générations futures. Par souci des générations futures, l’OED  s’engage dans la lutte contre les
                réchauffements climatiques ainsi que dans la protection de l’environnement.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <h4>II.	SIEGE SOCIAL ET CHAMPS D’ACTIVITES</h4>
            </mat-expansion-panel-header>
            <p>
                Le siège social de l’organisation est établi en République démocratique du Congo dans la ville province
                de Kinshasa, commune de Mont Ngafula, quartier Masanga mbila, avenue Tshitenge, n°44.
            </p>
            <p>
                Il pourra, à toute époque, être transféré en tout autre lieu par décision de l’Assemblée Générale.
            </p>
            <p>
                L’Organisation Emergence et Développement « OED  » exerce ses activités sur toute l’étendue de la
                République démocratique du Congo et elle peut, sur décision de la coordination, organiser des 
                activités qui cadrent avec ses objectifs dans d’autres pays.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <h4>III.	MEMBRES</h4>
            </mat-expansion-panel-header>
                <h5>1.	Membre fondateur</h5>
                <p>
                    Est membre fondateur, toute personne physique ou morale qui a contribué intellectuellement,
                    matériellement et financièrement à la création de l’organisation « OED  ».
                </p>
                <h5>2.	Membre d’honneur ou partenaire</h5>
                <p>
                    Est membre d’honneur ou partenaire, toute personne physique ou morale qui a rendu des services 
                    physiques, matériels et financiers signalés pour le compte de l’OED .
                </p>
                <h5>3.	Membre adhérent</h5>
                <p>
                    Est membre adhérent, toute personne qui adhère aux présents statuts après examen de son dossier 
                    par la coordination.
                </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <h4>IV.	ORGANIGRAMME DE L’OED </h4>
            </mat-expansion-panel-header>
            <h5>1.	L’assemblée générale</h5>
            <p>
                L’assemblée générale est l’organe délibérant de l’OED . Elle est composée des membres de la coordination,
                du bureau attaché à la coordination, des membres fondateurs, des membres d’honneur ou des partenaires et 
                des membres adhérents de l’OED .
            </p>
            <h5>2.	La coordination</h5>
            <p>
                La coordination est l’organe de direction de l’OED , elle est composée des coordonnateurs nommés par 
                l’Assemblée Générale et représente l’organisation dont elle assure la gestion.
            </p>
            <p>
                La coordination est composée des 3 coordonnateurs:
                <li>Coordonnateur;</li>
                <li>Coordonnateur adjoint chargé des questions techniques;</li>
                <li>Coordonnatrice chargée de l’administration, des finances et de logistique</li>
            </p>
            <h5>3.	Le bureau attaché à la coordination</h5>
            <p>
                Le bureau attaché à la coordination est l’organe sur lequel la coordination s’appuie pour 
                travailler. Le bureau attaché à la coordination est composé de :
                <li>Une secrétaire;</li>
                <li>Un comptable;</li>
                <li>Une financière;</li>
                <li>Un logisticien;</li>
                <li>3 conseillers techniques dont une femme au moins;</li>
                <li>3 membres du comité de contrôle dont une femme au moins;</li>
                <li>3 membres du bureau juridique dont une femme au moins.</li>
            </p>
            <p>
                Par rapport à un projet spécifique, le bureau attaché à la coordination peut être élargi, 
                l’organisation peut avoir encore besoin des agents supplémentaires entre autres les chargés 
                d’activités, les experts (courtes durées), etc.
            </p>
        </mat-expansion-panel>
    </mat-accordion>
</div>




<!-- <div class="card_grid"
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutGap="8%"
    fxLayoutAlign="flex-start">

    <ng-container *ngFor="let product of [1]">
        <mat-card class="example-card" fxFlex="0 1 calc(33.3% - 8%)" fxFlex.lt-md="0 1 calc(50% - 8%)" fxFlex.lt-sm="100%">
        <img class="image_avatar" mat-card-image src="../../../assets/img/person/jacque.jpg" alt="Photo Fast Smart">
        <mat-card-content>
            <mat-card-title>{{ product.Title }}</mat-card-title>
            <p>
                {{ product.Description }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button class="add_panier" mat-raised-button color="accent" matTooltip="Ajoutez au panier" >
            <mat-icon aria-hidden="false" aria-label="Fast Smart panier cart">shopping_cart</mat-icon>
            </button>
        </mat-card-actions>
        </mat-card>
    </ng-container>
</div>  -->

<mat-card>
    <div class="wrapper">
        <h1>Our Team</h1>
        <div class="team">
            <div class="team_member">
                <div class="team_img">
                <img src="../../../assets/img/person/jacque.jpg" alt="Team_image">
                </div>
                <h3>TSHISUMPA Jacques</h3>
                <p class="role">Co fondateur de OED</p>
                <p>
                    Expert en entrepreneuriat et création d'entreprise, et a contribué dans la création 
                    et le développement des plusieurs sociétés dont la MNA Investment & Holding dont il 
                    est actuellement le PDG.
                </p>
            </div>
            <!-- <div class="team_member">
                <div class="team_img">
                <img src="https://i.imgur.com/jQj1I8E.png" alt="Team_image">
                </div>
                <h3>Rosie Meg</h3>
                <p class="role">Tester</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, 
                    voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio
                    quam blanditiis dignissimos.
                </p>
            </div>
            <div class="team_member">
                <div class="team_img">
                <img src="https://i.imgur.com/2Necikc.png" alt="Team_image">
                </div>
                <h3>Alex Wood</h3>
                <p class="role">Support Lead</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, 
                    voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam 
                    blanditiis dignissimos.
                </p>
            </div> -->
        </div>
    </div>
</mat-card>
