.toolbar-1 {
  height: 40px;
  display: flex;
  flex-direction: row;
}

.toobar-main {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);

    .toolbar-main-mobile {
      color: white;
      .toolbar-main-1 {
        background-color: #2E4F9F;
        height: 100%;
      }

      .toolbar-main-2 {
        background-color: #FF0000;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  
  mat-sidenav {
    width: 60%;
  }
    
  mat-nav-list {
    a {
      mat-icon {
        padding-right: 20%;
      }
    }
  }

  mat-sidenav-content {
    margin-top: 0;
    margin-left: 0;
  }

  .menu-spacer {
    flex: 1 1 auto;
  }
  
  .active-link{
    color: #fff;
    background-color: #2E4F9F;
  }

  // .active{
  //   background-color: #2E4F9F;
  // }
  
  img {
    width: 70px; 
    height: 70px;
  }
  
  // a :hover {
  //   text-decoration: none;
  //   color: #18B52B;
  // }
  
  
  @media screen and (max-width: 600px) {
    .toolbar-main-mobile {
      
      // width: 150px;
      .toolbar-main-1 {
        display: none;
        background-color: #2E4F9F;
        height: 100%;
      }

      .toolbar-main-2 {
        background-color: #FF0000;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }

    .toolbar-main-3 {
      display: none;
    }

    .pipe {
      display: none;
    }
  }

  @media screen and (max-width: 400px) {
    img {
      width: 50px; 
      height: 50px;
    }

    .toolbar-main-mobile {
      
      // width: 150px;
      .toolbar-main-1 {
        display: none;
        background-color: #2E4F9F;
        height: 100%;
      }

      .toolbar-main-2 {
        background-color: #FF0000;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
