<div class="hero-form">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Formulaire d'adhesion des partenaires</mat-card-title>
      </mat-card-header>
      
          <mat-horizontal-stepper  #stepper>
            <mat-step>
              <form >
                <!-- <ng-template matStepLabel>IDENTITE</ng-template> -->
                <div class="mat-form-1">
                  <div class="mat-form-1-1">
                    <mat-form-field>
                      <mat-label>Nom Complet</mat-label>
                      <input matInput type="text" placeholder="Nom, Post-Nom, Prénom" required>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Sexe</mat-label>
                      <mat-select required>
                        <mat-option value="Femme">Femme</mat-option>
                        <mat-option value="Homme">Homme</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="mat-form-1-1">
                    <mat-form-field>
                      <mat-label>Date de naissance</mat-label>
                      <input matInput [matDatepicker]="picker" required>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Lieu de naissance</mat-label>
                      <input matInput type="text" placeholder="Lien de naissance" required>
                    </mat-form-field>
                  </div>
                  <div class="mat-form-1-1">
                    <mat-form-field>
                      <mat-label>Etat Civil</mat-label>
                      <mat-select required>
                        <mat-option value="Célibataire">Célibataire</mat-option>
                        <mat-option value="Marié">Marié</mat-option>
                        <mat-option value="Veuve">Veuve</mat-option>
                        <mat-option value="veuf">veuf</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Nombre Enfants</mat-label>
                      <input matInput type="number" placeholder="Nombre des Enfants" required>
                    </mat-form-field>
                  </div>
                  <div class="mat-form-1-1">
                    <mat-form-field>
                      <mat-label>Fils/Fille de Père</mat-label>
                      <input matInput placeholder="Nom de parent..." required>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Fils/Fille de Mère</mat-label>
                      <input matInput placeholder="Nom de parent..." required>
                    </mat-form-field>
                  </div>
                  
                </div>
                <div class="mat-form-2">
                  
                  <mat-form-field>
                    <mat-label>Nationalité</mat-label>
                    <mat-select required>
                      <mat-option value="{{ nation }}" *ngFor="let nation of nation$" >{{ nation }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Adresse physique</mat-label>
                    <textarea rows="3" matInput required></textarea>
                  </mat-form-field>
                </div>
                
                <div class="btn-hero">
                    <button class="btn-hero-2" mat-button matStepperNext>
                        Suivant
                    </button>
                </div>
              </form>
            </mat-step>
            <mat-step >
              <form >
                <!-- <ng-template matStepLabel>ETUDES FAITES</ng-template> -->
                <mat-form-field>
                  <mat-label>Etudes faites</mat-label>
                  <textarea matInput rows="5" placeholder="Ex: Diplome, Certificat, Formation, ..." required></textarea>
                </mat-form-field>
                <div class="btn-hero-b">
                    <button class="btn-hero-1" mat-button matStepperPrevious>Précedent
                    </button>
                    <button class="btn-hero-2" mat-button matStepperNext>Suivant
                    </button>
                </div> 
              </form>
            </mat-step>
            <mat-step >
                <form >
                  <!-- <ng-template matStepLabel>ETUDES FAITES</ng-template> -->
                  <mat-form-field>
                    <mat-label>Expériences professionnelles</mat-label>
                    <textarea matInput rows="5" required></textarea>
                  </mat-form-field>
                  <div class="btn-hero-b">
                    <button class="btn-hero-1" mat-button matStepperPrevious>Précedent
                    </button>
                    <button class="btn-hero-2" mat-button matStepperNext>Suivant
                    </button>
                  </div> 
                </form>
            </mat-step>
            <mat-step >
                <form >
                  <!-- <ng-template matStepLabel>ETUDES FAITES</ng-template> -->
                  <mat-form-field>
                    <mat-label>Frais d’adhésion</mat-label>
                    <textarea matInput rows="5" required></textarea>
                  </mat-form-field>

                  <mat-checkbox>j'approuve mon inscription</mat-checkbox>

                  <div class="btn-hero-b">
                    <button class="btn-hero-1" mat-button matStepperPrevious>Précedent
                    </button>
                    <button class="btn-hero-2" mat-button (click)="stepper.reset()">Inscription
                    </button>
                  </div> 
                </form>
            </mat-step>
            
          </mat-horizontal-stepper>

           
    </mat-card>
      
</div>