.userimg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
    object-fit: cover;
    object-position: center right;
  }

.mt-40 {
  margin-top: 10px;
  margin-bottom: 50px;
  // margin-right: 50px;
  // margin-left: 90px;
  flex-wrap: wrap;
// padding-bottom: 10px;
}