
<div class="mt-40" fxLayoutAlign="center start" *ngIf="userInfo">
    <mat-card
      [class.mat-elevation-z4]="true"
      class="h-600 w-600"
      fxLayout="column">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" *ngIf="userInfo; else loading">
        <div >
          <img
            [src]="userInfo?.photoURL"
            class="userimg"/>
        </div>
        <div >
          <div>
            <h2>Nom d'utilisateur: {{userInfo.name}}</h2>
          </div>
          <div>
            <h2>Email: {{userInfo?.email}}</h2>
          </div>
          <div>
            <h2>Téléphone: {{userInfo?.phoneNumber}}</h2>
          </div>
          <div>
            <h2>Etat Civile: {{userInfo?.etatCivile}}</h2>
          </div>
          <div>
            <h2>Niveau d'acréditation: {{userInfo?.role}}</h2>
          </div>
          <div>
            <h2>Addresse: {{userInfo?.useraddress}}</h2>
          </div>

          <div>
            <button mat-raised-button color="accent" (click)="opportunity()">
              Opportunités Offertes
            </button>
          </div>

          <hr>
          <div style="padding-bottom: 10px;">
            <button mat-raised-button color="primary" (click)="routeToUpdateProfile()">
              Mettre à jour mon Profile
            </button>
          </div>
          <div>
            <button mat-raised-button color="primary" >
              Changez le Mot de Passe
            </button>
          </div>   
        </div>
        <!-- <div fxLayout="column" fxLayoutGap="30px" class="p-90">
          <div>
            <button mat-raised-button color="primary" (click)="routeToUpdateProfile()">
              Mettre à jour mon Profile
            </button>
          </div>
          <div>
            <button mat-raised-button color="primary" (click)='openChangePasswordModal()'>
              Change Password
            </button>
          </div>
        </div> -->
      </div>
    </mat-card>
  </div>
  
  <ng-template #loading>

    <mat-spinner></mat-spinner>

  </ng-template>
