<div class="footer-panel">
  
</div>

<mat-toolbar>

    <!-- <div class="menu">
      <a routerLink="emdev/layouts/home" routerLinkActive="active-link">Acceuil</a> -
      <a routerLink="emdev/layouts/about" routerLinkActive="active-link">A Propos de Nous</a> -
      <a routerLink="emdev/layouts/contact" routerLinkActive="active-link">Contactez-Nous</a>
      <a routerLink="emdev/layouts/contact" routerLinkActive="active-link">Forums</a>
    </div> -->
    
    <span class="example-spacer"></span>

    <p>&copy; {{ today | date:'yyyy' }} - Emergence et Developpement</p>
    

</mat-toolbar>
