@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

mat-toolbar {
  font-family: "Google Sans", Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
  font-size: 14px;
  color: white;
  margin-bottom: 0;

  .example-icon {
      padding: 0 14px;
    }
    
    .example-spacer {
      flex: 1 1 auto;
    }

  .active-link{
    color: #18B52B; 
  }

  .menu {
    // padding: 5px 20px;
    text-align: center;

    a {
      padding-left: 10px;
      text-decoration: none;
      color: white;
      
    }
  }
}


@media screen and (max-width: 960px) {

  p {
    text-align: center;
    padding-bottom: 10px;
  }
}
 
.footer-panel {
  height: 400px;
  background-color: #000fff;
}
