<div class="pb-32 px-16 pt-16">
    <div class="font-size-28" mat-dialog-title>Change Password</div>
    <mat-divider></mat-divider>
    <div mat-dialog-content class=" py-16">
      <form [formGroup]="changePasswordForm" fxLayout="column" fxLayoutAlign="center center">
        <div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
            <div fxLayout="column" fxLayoutAlign="center" class="mat-icon-for-input">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </div>
            <div> 
              <mat-form-field appearance="outline">
                <mat-label>Ancien Mot de Passe</mat-label>
                <input type="password" matInput placeholder="Type in old passoword" formControlName="oldpassword">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
            <div fxLayout="column" fxLayoutAlign="center" class="mat-icon-for-input">
              <mat-icon matSuffix>autorenew</mat-icon> 
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Nouveau Mot de Passe</mat-label>
                <input type="password" matInput placeholder="New passoword" formControlName="newpassword">
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
  
    <div mat-dialog-actions fxLayout="column-reverse" fxLayoutAlign="center center" fxLayoutGap="16px">
  
      <button mat-stroked-button (click)="onNoClick()" class="w-140 m-0">Annuler</button>
      <button mat-raised-button cdkFocusInitial type="submit" (click)='onSubmit()' color="primary"
        class="w-140 ml-0">Mettre à jour</button>
    </div>
  
</div>
