<div class="home">
  <section class="hero-slider">
    <div class="desktop">
      <mat-carousel
      timings="300ms ease-in"
      [autoplay]="true"
      interval="5000"
      color="accent"
      maxWidth="auto"
      proportion="40"
      slides="3"
      [loop]="true"
      [hideArrows]="true"
      [hideIndicators]="false"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      orientation="ltr">
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slides; let i = index"
        [image]="slide.image"
        overlayColor="#00000040"
        [hideOverlay]="false">

        <div class="hero-text">
          <h2 class="hero-text-title">
              Bienvenue sur la plateforme de <br>
              <span>l'organisation pour l'Emergence et le Développement</span> 
          </h2>
          <p class="hero-text-content">
            Loin d’avoir une connotation politique, encore moins des intérêts égoïstes, 
            nous prônons l'épanouissement des plusieurs avec des objects précis.
            L’OED  préconise l'émergence et le developpement.
            L'OED  est une organisation des hommes, femmes, jeunes et vieux, employeurs et employés, professionnels
            et chômeurs, professeurs et étudiants, dirigeants et dirigés.
          </p>
          <button class="btn-hero-1" routerLink="/emdev/layouts/about" mat-raised-button matTooltip="Plus d'infos">EN SAVOIR PLUS</button>
        </div>
      </mat-carousel-slide>
    </mat-carousel>
    </div>

    <div class="mobile">
      <mat-carousel
      timings="300ms ease-in"
      [autoplay]="true"
      interval="5000"
      color="accent"
      maxWidth="auto"
      proportion="100"
      slides="3"
      [loop]="true"
      [hideArrows]="true"
      [hideIndicators]="true"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      orientation="ltr">
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slides"
        [image]="slide.image"
        overlayColor="#00000040"
        [hideOverlay]="false">

        <div class="hero-text">
          <h2 class="hero-text-title">
            Bienvenue sur la plateforme de <br>
            <span>l'Organisation pour l'Emergence et le Développement</span> 
          </h2>
          <p class="hero-text-content">
            Loin d’avoir une connotation politique, encore moins des intérêts égoïstes, 
            nous prônons l'épanouissement des plusieurs avec des objects précis.
            L’OED  préconise l'émergence et le developpement.
            L'OED  est une organisation des hommes, femmes, jeunes et vieux, employeurs et employés, professionnels
            et chômeurs, professeurs et étudiants, dirigeants et dirigés.
          </p>
          <button class="btn-hero-1" routerLink="/emdev/layouts/about" mat-raised-button matTooltip="Plus d'infos">EN SAVOIR PLUS</button>
        </div>
      </mat-carousel-slide>
    </mat-carousel>
    </div>
    
  </section>

  <section class="vision">
    <h2 class="vision-title">Notre vision?</h2>

    <div class="vision-content">

      <div class="card_grid" fxLayout="row wrap"
          fxLayout.lt-sm="column"
          fxLayoutGap="4%"
          fxLayoutAlign="flex-start"> 
          <ng-container *ngFor="let v of vision$">
            <mat-card class="example-card" fxLayout="row" fxFlex="0 1 calc(33.3% - 4%)" fxFlex.lt-md="0 1 calc(50% - 4%)" fxFlex.lt-sm="100%">
              <div class="ib-icon" fxFlex="25">
                <mat-icon aria-hidden="false" aria-label="Emergence et developpement Objectif et vision">{{ v.icon}}</mat-icon>
              </div>
              <div class="ib-text" fxFlex="75">
                <h5>{{v.title}}</h5>
                <p>
                  {{v.content}}
                </p>
              </div>
            </mat-card>
          </ng-container>
        </div>
      </div>

      <div fxLayoutAlign="center center">
        <button class="btn-vision" routerLink="/emdev/layouts/about" mat-raised-button>
          Plus
        </button>
      </div>
   
    
  </section>

  <section class="cta-section"> 
		<div class="container"> 
			<h2>Avez-vous déjà rempli le formulaire  des <strong>membres</strong>?</h2>
			<h5>Si vous n'êtes pas encore membre, merci de remplir le formulaire en
         cliquant sur le boutton ci-dessous.</h5>
      <!-- <a href="#" class="site-btn sb-dark sb-big">Find out More</a> -->
      <button class="btn-cta-section" routerLink="/emdev/layouts/forms-membres" mat-raised-button matTooltip="Remplir le formulaire de membres">
        REMPLIR LE FORMULAIRE
      </button>
		</div>
  </section>
  
  <section class="card-home" 
    fxLayout="column"
    fxLayoutAlign="flex-start">
    <ng-container *ngFor="let conf of conference">
      <mat-card fxLayoutGap="20px" fxLayout="row" fxFlex.lt-sm="column" >
        <div class="card-img" fxFlex.sm="40">
          <img [src]="conf.img" mat-card-image alt="conference Emergence et developpement">
        </div>
        <div class="card-content" fxFlex.sm="60">
          <h3 class="card-header">{{conf.title}}</h3>
          <p class="card-text">
            {{conf.content}}
          </p>
        </div>
      </mat-card>
    </ng-container>
  </section>
</div>
