@media screen and (max-width: 960px) {
  .home {
		color: rgb(255, 255, 255);
		font-family: "Google Sans", Roboto, sans-serif;
		font-size: 1rem;
		// text-align: center !important;
		line-height: 1.1;

		.hero-slider {
			// height: 500px;
			line-height: 1.1;
			
			.mobile {
				.hero-text {
					padding-top: 30px;
					padding-right: 10px;
					padding-left: 10px;

					.hero-text-title {
						text-align: start;
						font-size: 22px;
						// padding: 5px;
						padding-bottom: 5px;
						line-height: 1.1;
					}

					.hero-text-content {
						text-align: start;
						// font-weight: 400;
						// font-size: 1.25rem;
						padding-bottom: 15px;
					}

					.btn-hero-1 {
						padding: 5px;
						width: 200px;
						color: #fff;
						background-color: #ff0000;
						border-radius: 25px;
						float: left;
					}
					.btn-hero-1:hover {
						padding: 5px;
						width: 200px;
						color: #fff;
						background-color: #18B52B;
						border-radius: 25px;
					}
				}	
			}

			.desktop {
				display: none;
			}
					
		}

		.vision-title {
			text-align: center;
			margin-bottom: 55px;
			margin-top: 50px;
			font-size: 2rem;
			font-weight: 700;
			color: #000;
		}

		.cta-section {
			// height: 300px;
			// width: 100%;
			background-image: url("../../../assets/img/score-bg.jpg");
			background-position: bottom;
			text-align: center;
			padding: 100px 0 78px;
			
			h2 {
				font-size: 28px;
				margin-bottom: 10px;
			}
			
			h2 strong {
				font-weight: 900;
				color: #f43f00;
			}
			
			h5 {
				color: #ffffff;
				margin-bottom: 35px;
				padding-left: 10px;
				padding-right: 10px;
			}

			.btn-cta-section {
				padding: 5px;
				width: 200px;
				color: #fff;
				background-color: #ff0000;
				border-radius: 25px;
			}
			.btn-cta-section:hover {
				padding: 10px;
				width: 200px;
				color: #fff;
				background-color: #18B52B;
				border-radius: 25px;
			}
		}

		.card-home-desktop {
			display: none;
		}
		.card-home-mobile {
			margin-left: 2%;
			margin-right: 2%;
		}
	}
}

@media screen and (min-width: 960px) {
    .home {
		font-family: "Google Sans", Roboto, sans-serif;
		// font-size: 1rem;
		// text-align: center !important;
		line-height: 1.1;

		.hero-slider {
			color: rgb(255, 255, 255);
			// height: 500px;
			margin-bottom: 75px;
			.desktop {
				.hero-text {
					align-self: flex-start;
					// padding-top: 4rem;
					// padding-left: 1.75rem;
					padding-top: 95px;
					padding-right: 10px;
					padding-left: 50px;

					.hero-text-title {
						font-size: 50px;
						color: #fff;
						margin-bottom: 30px;
						line-height: 1.1;
					}

					.hero-text-content {
						width: 700px;
						line-height: 1.5;
						font-size: 16px;
						padding-bottom: 30px;
					}

					.btn-hero-1 {
						padding: 5px;
						width: 200px;
						color: #fff;
						background-color: #ff0000;
						border-radius: 25px;
					}
					.btn-hero-1:hover {
						padding: 10px;
						width: 200px;
						color: #fff;
						background-color: #18B52B;
						border-radius: 25px;
					}

					.btn-hero-2 {
						display: none;
					}

				}

			}
		}

		.vision-title {
			text-align: center;
			margin-bottom: 55px;
			font-size: 2rem;
			font-weight: 700;
			color: #000;
		}

		.mobile {
			display: none;
		}
	
		.cta-section {
			// height: 300px;
			// width: 100%;
			background-image: url("../../../assets/img/score-bg.jpg");
			text-align: center;
			padding: 100px 0 78px;
			line-height: 1.1;
			
			h2 {
				font-size: 48px;
				padding-bottom: 20px;
				color: #fff;
			}
			
			h2 strong {
				font-weight: 900;
				color: #f43f00;
			}
			
			h5 {
				color: #ffffff;
				margin-bottom: 35px;
				font-size: 16px;
			}
	
			.btn-cta-section {
				padding: 5px;
				width: 200px;
				color: #fff;
				background-color: #ff0000;
				border-radius: 25px;
			}
	
			.btn-cta-section:hover {
				padding: 5px;
				width: 200px;
				color: #fff;
				background-color: #18B52B;
				border-radius: 25px;
			}
	
		}
	


		.card-home-mobile {
			display: none;  
		}
	}
}

span:hover {
	color: #ff0000;
	font-weight: 800;
}


.vision {
	font-family: "Google Sans", Roboto, sans-serif;
	line-height: 1.1;
}

.vision-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.card_grid {
	margin-left: 4%;

    .example-card {
	  margin-bottom: 15px;
	  line-height: 1.1;
	  max-width: 400px;
	  transition: none !important;
	  box-shadow: none !important;

      .image_avatar {
        // width: 100%;
        height: 200px;
      }
    }
    
}

.ib-icon {
	width: 76px;
	height: 76px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 39px;
	color: #ff0000;
	border: 3px solid #ff0000;
	border-radius: 50%;
	float: left;
	margin-right: 20px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	cursor: pointer;
}
.ib-icon:hover {
	color: #fff;
	background-color: #ff0000;
}
.ib-text {
	// width: 300px;
	h5 {
		font-weight: 700;
		font-size: 1.25rem;
		line-height: 1.1;
	}
	// p {
	// 	width: 300px;
	// }
}

.btn-vision {
	padding: 10px;
	width: 200px;
	color: #ff0000;
	// background-color: #18B52B;
	border-radius: 25px;
	margin-bottom: 10px;
	align-items: center;
	align-self: center;
}

.btn-vision:hover {
	padding: 10px;
	width: 200px;
	color: #fff;
	background-color: #ff0000;
	border-radius: 25px;
}
.card-img img {
	// width: 200px;
	height: 300px;
}
.card-home {
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 10%;
	
	box-shadow: none !important;
}
.card-header {
	font-weight: 700;
	font-size: 24px;
}
.card-content {
	align-self: center;
	padding-left: 10px;
}
.card-text {
	width: 400px;
}
