<section class="header">
    <h3>Contact</h3>
</section>
<section class="contact">
    <div class="contact_1">
        <!-- <h4>Dans le but de répondre à vos préocupations</h4> -->
        <!-- <p>
            L’E&D se veut être une grande plateforme avec un nombre important des 
            membres à travers le monde, des hommes et des femmes de sciences,
            des chercheurs, des idéologistes, des doctrinaires, des innovateurs... 
            Pour cela avoir une bonne communication est une nécessiteux.
        </p> -->
        <!-- <p>
            L’organisation <span>Emergence et Développement « E&D »</span> exerce ses activités sur toute
            l’étendue de la République démocratique du Congo et elle peut, sur décision de la coordination, 
            organiser des activités qui cadrent avec ses objectifs dans d’autres pays.
        </p> -->

        <div class="number">
            <div class="n-1">
                <mat-icon aria-hidden="false" aria-label="Emergence et developpement contact">place</mat-icon>
                44, Tshitenge, masang’a mbila, mont ngafula, Kinshasa, RDC
            </div>
            <div class="n-1">
                <mat-icon aria-hidden="false" aria-label="Emergence et developpement contact">call</mat-icon>
                +243 82 56 41 900
            </div>
            <div class="n-1">
                <mat-icon aria-hidden="false" aria-label="Emergence et developpement contact">email</mat-icon>
                contact@emergenceetdeveloppement.org
            </div>
            <div class="n-1">
                <mat-icon aria-hidden="false" aria-label="Emergence et developpement contact">email</mat-icon>
                jacquestshisumpa2013@gmail.com
            </div>

            <br>
            <div class="n-1">
                <mat-icon aria-hidden="false" aria-label="Emergence et developpement contact">access_time</mat-icon>
                Chaque jour: 08h:00 - 17h:00
            </div>
        </div>
    </div>
    <div class="contact_2">
        <form class="example-form" [formGroup]="contactFG">
            <h2 class="title">Contactez-Nous ici !</h2>

            <mat-form-field class="example-full-width">
            <mat-label>Prénom et Nom</mat-label>
                <input matInput placeholder="Nom Complet" formControlName="FullName">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Téléphone</mat-label>
                <input matInput placeholder="Téléphone" formControlName="Telephone">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="Email">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Sujet</mat-label>
                <input matInput placeholder="Objet du Message" formControlName="Sujet">
            </mat-form-field>
        
            <mat-form-field class="example-full-width">
            <mat-label>Message</mat-label>
            <textarea matInput rows="3" placeholder="Message..." formControlName="Message"></textarea>
            </mat-form-field>
            
            <button mat-raised-button color="primary" name="loginBtn" (click)="save()">
                <div *ngIf="loading" fxLayout="column" fxLayoutAlign="center center">
                  <mat-spinner [diameter]="30" color="accent" *ngIf="!loading"></mat-spinner>
                </div>
                <span fxLayout="row" fxLayoutAlign="space-evenly stretch center">Envoyez</span>
            </button>
        </form>
    </div>
</section>
