
<mat-card>
  <!-- <div class="col-md-12">
    <mat-card-header>
      <mat-card-title>Formulaire d'adhesion des membres</mat-card-title>
    </mat-card-header>
  </div> -->

  <form [formGroup]="addMembresForm" id="file-upload-form" class="uploader">
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="dropzone" DropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" 
            [class.hovering]="isHovering" fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="10px"
            class="pt-20">

          <input id="file-upload" type="file" name="fileUpload" accept="image/*" (change)="startUpload($event.target.files)"/>
      
          <label for="file-upload" id="file-drag">
            <img id="file-image" src="#" alt="Preview" class="hidden" />
            <div id="start">
              <i class="fa fa-upload" aria-hidden="true"></i>
              <div>Selectionnez ou faites glisser une image ici</div>
              <div id="notimage" class="hidden">Selectionnez l'image</div>
              <span id="file-upload-btn" class="btn btn-primary">
                Image profile
              </span>
            </div>
            <div id="response" class="hidden">
              <div id="messages"></div>
              <div *ngIf="percentage | async as pct">
                <progress
                  class="progress is-info"
                  [value]="pct"
                  max="100"
                  id="file-progress">
                  <span>{{ pct }}</span> %
                </progress>
              </div>
            </div>
          </label>
        </div>

        <div *ngIf="percentage | async as pct">
          <progress class="progress is-info" [value]="pct" max="100">
          </progress>

          {{ pct | number }}%
        </div>
      </div>

      <div class="form-group col-md-6">
        <mat-form-field>
          <mat-label>Nom Complet</mat-label>
          <input matInput type="text" placeholder="Nom, Post-Nom, Prénom" formControlName="FullName" required>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field>
          <mat-label>Sexe</mat-label>
          <mat-select formControlName="Sex" required>
            <mat-option value="Femme">Femme</mat-option>
            <mat-option value="Homme">Homme</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field>
          <mat-label>Date de naissance</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="Birthday">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field>
          <mat-label>Lieu de naissance</mat-label>
          <input matInput type="text" placeholder="Lien de naissance" formControlName="PlaceBirthday">
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field>
          <mat-label>Etat Civil</mat-label>
          <mat-select formControlName="EtatCivil" required>
            <mat-option value="Célibataire">Célibataire</mat-option>
            <mat-option value="Marié">Marié</mat-option>
            <mat-option value="Veuve">Veuve</mat-option>
            <mat-option value="veuf">veuf</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field>
          <mat-label>Nationalité</mat-label>
          <mat-select formControlName="Nationalite" required>
            <mat-option value="{{ nation }}" *ngFor="let nation of nation$" >{{ nation }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field>
          <mat-label>Langues Parlé</mat-label>
          <input matInput type="text" placeholder="Les separer par des virgules" formControlName="LangueParle" required>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field>
          <mat-label>Province</mat-label>
          <mat-select formControlName="Province">
            <mat-option value="{{count.name}}" *ngFor="let count of countryList">{{count.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-md-12">
        <mat-form-field>
          <mat-label>Adresse de residence</mat-label>
          <textarea matInput rows="5" formControlName="Adresse" placeholder="Ex: Kinshasa, Kalamu, Matonge, victoire n/..."></textarea>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field>
          <mat-label>Téléphone</mat-label>
          <span matPrefix>+ &nbsp;</span>
          <input type="tel" matInput placeholder="Numéro de téléphone" formControlName="Telephone"> 
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="adrese electronique" formControlName="Email">
        </mat-form-field>
      </div>
      <div class="form-group col-md-12">
        <mat-form-field>
          <mat-label>Etudes faites</mat-label>
          <textarea matInput rows="5" formControlName="Etudes" placeholder="Ex: Diplome, Certificat, Formation, ..."></textarea>
        </mat-form-field>
      </div>
      <div class="form-group col-md-12">
        <mat-form-field>
          <mat-label>Expériences professionnelles</mat-label>
          <textarea matInput rows="5" formControlName="Experience"></textarea>
        </mat-form-field>
      </div>
      <div class="form-group col-md-12">
        <button type="submit" (click)="onSubmit()" [disabled]="!addMembresForm.valid" mat-raised-button color="primary" >
          Enregistez le formulaire
      </button>
      </div> 
    </div>
  </form>
</mat-card>

<div *ngIf="isPreview">
  <mat-card [class.mat-elevation-z8]="true" class="w-350 h-440 scrollable-content">
    <div *ngIf="snapshot | async as snap" fxLayout="row" fxLayoutAlign="center center" class='mb-16 w-280 h-200'>
      <div *ngIf="downloadURL | async as url">
          <img [src]="url"  />
      </div>
    </div>
    <div  class='pt-12'>
      <div fxLayout="row" fxLayoutAlign="center center" class='pb-12'>
        <div class='font-size-20'><span class='secondary-text-color cursor-pointer'> {{ addMembresForm.value.FullName }}</span></div>
      </div>
    </div>
    <mat-card-content class='h-100'>
      <div  class='py-12'>
        <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="8px">
          <div class='font-size-16'><span class='accepted-color'>{{ addMembresForm.value.Sex }}</span></div>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</div>