

.font-size-20 {
    font-weight: 700;
}

.font-size-80 {
    margin-left: 20px;
}

// .objet {
//     text-decoration: underline;
//     padding-bottom: 5px;
// }

.message {
    margin: 10px 20px 20px 20px;
    text-align: justify;
}