<section>
    <div class="opportunity-title">OPPORTUNITES</div>
    <div class="opportunity" fxLayout="column wrap"
        fxLayout.lt-sm="column"
        fxLayoutGap="20px">
        <ng-container *ngFor="let v of [1]">
            <mat-card  class="example-card" fxLayout="row" >
                <mat-card-header fxFlex="20" fxLayoutGap="10px">Opportunité</mat-card-header>
                <mat-card-content fxFlex="80">
                    lorem ipsum 
                </mat-card-content>
            </mat-card>
        </ng-container>
    </div>
</section>
