<div class="activity-header">
    <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
</div>

<div class="title">Actualités</div>

<div class="container" *ngIf="loading">
    <div class="d-flex justify-content-center">     
        <mat-spinner></mat-spinner>
    </div>
</div>

<div class="container" *ngIf="!loading">
    
    <div class="card_grid"
        fxLayout="row wrap"
        fxLayout.lt-sm="column"
        fxLayoutGap="8%"
        fxLayoutAlign="flex-start" >

        <ng-container *ngFor="let activity of activity$ | paginate: { itemsPerPage: 9, currentPage: p }">
            <mat-card class="example-card" fxFlex="0 1 calc(33.3% - 8%)" fxFlex.lt-md="0 1 calc(50% - 8%)" fxFlex.lt-sm="100%">
                <img class="image_avatar" mat-card-image [src]="activity.PhotoUrl" alt="Image OED">
                <mat-card-content (click)="detail(activity.id)">
                <mat-card-title>{{ activity.Title }}</mat-card-title>
                <!-- <p>
                    {{ activity.Description }}
                </p> -->
                </mat-card-content>
                <mat-card-actions><p>{{ activity.Created.toDate()| date: 'dd/MM/yyyy HH:mm:ss'}}</p></mat-card-actions>
            </mat-card>
        </ng-container> 
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
