<section>
    <div fxLayout="column" fxLayoutAlign="space-between center center">
        <div fxLayout="column" fxLayoutAlign="space-evenly center center" class="">
          <div fxLayout="column" fxLayoutAlign="center center">
            <img src="../../../assets/img/fastsmart.png" class="logo" routerLink="/layouts" />
            <h4>Créez un compte</h4>
          </div> 
          <div>
            <form fxLayout="column" fxLayoutAlign="space-around stretch center" fxLayoutGap="5px" class="example-form">
              <mat-form-field appearance="outline" color="warn" class="example-full-width">
                <mat-label class="placeholder">Your Name</mat-label>
                <input matInput name="name" type="text" [(ngModel)]="_registerRequest.name">
                <mat-icon matSuffix>account_circle</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline" color="warn" class="example-full-width">
                <mat-label class="placeholder"> Email</mat-label>
                <input matInput name="email" type="text" [(ngModel)]="_registerRequest.email">
                <mat-icon matSuffix>alternate_email</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline" color="warn" class="example-full-width">
                <mat-label class="placeholder">Adresse Domicile</mat-label>
                <input matInput name="name" type="text" [(ngModel)]="_registerRequest.adress">
                <mat-icon matSuffix>location_on</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline" color="warn" class="example-full-width">
                <mat-label class="placeholder">Télephone</mat-label>
                <input matInput name="name" type="text" [(ngModel)]="_registerRequest.phone">
                <mat-icon matSuffix>phone</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline" color="warn" class="example-full-width">
                <mat-label class="placeholder"> Password</mat-label>
                <input matInput name="password" type="password" [(ngModel)]="_registerRequest.password">
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              
              <mat-form-field appearance="outline" color="warn" class="example-full-width">
                <mat-label class="placeholder">Account Type</mat-label>
                <mat-select name="permission" type="text"  [(ngModel)]="_registerRequest.role">
                  <mat-option *ngFor="let permission of _permissions" [value]="permission.value">
                    {{ permission.viewValue }}
                  </mat-option>
                </mat-select> 
              </mat-form-field>
      
              <button mat-raised-button color="warn" (click)="signup()" name="loginBtn">Signup</button>
            </form>
          </div>
      
        </div>
      </div>

</section>
    